@model sds_technical_exam.ViewModels.RecyclableItemViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Edit Recyclable Item";
}

@{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
}

<div class="card">
    <div class="card-header">
        <h1 class="h3 mb-0 text-gray-800">Edit Recyclable Item</h1>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(m => m.RecyclableItem.RecyclableTypeId)
                @Html.DropDownListFor(m => m.RecyclableItem.RecyclableTypeId, Model.RecyclableTypes, "Select Recyclable Type", new { @class = "form-control", @value = Model.RecyclableItem.RecyclableTypeId })
                @Html.ValidationMessageFor(m => m.RecyclableItem.RecyclableTypeId, "", new { @class = "field-validation-error text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RecyclableItem.Weight)
                @Html.TextBoxFor(m => m.RecyclableItem.Weight, new { @class = "form-control", @value = Model.RecyclableItem.Weight })
                @Html.ValidationMessageFor(m => m.RecyclableItem.Weight, "", new { @class = "field-validation-error text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RecyclableItem.ItemDescription)
                @Html.TextBoxFor(m => m.RecyclableItem.ItemDescription, new { @class = "form-control", @value = Model.RecyclableItem.ItemDescription })
                @Html.ValidationMessageFor(m => m.RecyclableItem.ItemDescription, "", new { @class = "field-validation-error text-danger" })
            </div>

            <button type="submit" class="btn btn-info mt-3">Save Changes</button>
        }
    </div>
</div>